
/* MAX 950 */

@media (max-width: 990px) {

.hero {
background-size: inherit;
background-position-x: 24%;
    }

.featured {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    display: grid;
}

.container {
    justify-content: center;
    display: grid;

}

.about_page {
    flex-direction: column;
}

.product_page {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    text-align: center;
}

.product_button {
    display: inline-grid;
}

.secondary_cta_large {
    display: ruby-text;
    }

nav {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 107px;
}

nav li {
    display: block;
    padding: 20px 30px;
    background-color: #262D3B;
 }
    
 label {
    display: block;
}
    
#hamburger-menu:checked ~ nav {
        display: block;
    }

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    }

.overview_content {
    display: flex;
    flex-direction: column;
}  

.checkout_three {
    margin: 0px;
}
}

@media (max-width: 905px) {
    .contact_page_info {
        flex-direction: column;
}

    .cart {
        flex-direction: column;
    }

    .cart_info {
        margin-bottom: 0px;
    }

    .checkout {
        margin-top: 0px;
    }
}

/* MAX 600 */

@media (max-width: 600px) {
    
.featured {
        grid-template-columns: repeat(1, 1fr);
        max-width: 600px;
    }

.container {
    justify-content: center;
    display: grid;
    }

.secondary_cta_large {
    display: ruby-text;
    }


.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.cta_checkout {
    
}

}

@media (min-width:810px) {
    .header-content {
        background: none;
    }
    
.form-wrapper label {
    display: block;
}

}