@import "imports/variables.css";

/* Global styles */
body {
    background: linear-gradient(180deg, #232027, #306495, #88168C);
    color: #fff;
    min-height: 100vh;
    margin: 0px;
}

header a {
    padding: 20 0 0 0;
}

header {
padding: 5px;
}

.header-nav {
    align-items: baseline;
}

.header-navigation {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header-navigation-div {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.logo {
    max-width: 180px;
    max-height: 120%;
    margin-left: 150px;
    margin-top: 10px;
}

.cart-icon {
    margin-right: 150px;
}

a,
i {
    color: #fff;
}

i {
    max-width: 60px;
}

h1,
h3,
h5,
label,
li,
button {
    font-family: var(--text-heading);
    color: #fff;
    text-transform: uppercase;
}

h2 {
    font-family: var(--text-hero);
    font-size: 34px;
    color: #fff;
    border: 0px;
    text-transform: uppercase;
}

h4, 
p {
    font-family: var(--text-other);
}


#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
    left: 0;
    transition: left 0.3s ease-in-out;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    list-style: none;
    padding: 0px 90px 0 0;
}

/* links */

a {
    text-decoration: 0px;
    display: block;
    padding: auto;
}

.active {
    text-decoration: underline;
}

.fa {
    color: white;
    padding: 10px;
}

button {
    background-color: var(--cta-primary);
    font-size: 1.6em;
    text-transform: uppercase;
    color: #fff;
    width: 95%;
    height: 41px;
    top: 50%;
    left: 50%;
    border: none;
}

.cta_large {
    width: 285px;
    margin-top: -8px;
    margin-bottom: 11px;
}

.cta_checkout {
    font-size: 1.6em;
    background-color: var(--cta-primary);
    color: #fff;
    font-family: var(--text-heading);
    padding: 5px 99px;
    margin-top: 8px;
    display: unset;
}

.secondary_cta_large {
    font-size: 1.6em;
    background-color: #F68B39;
    color: #fff;
    font-family: var(--text-heading);
    padding: 5px 99px;
    margin-top: 8px;
    display: unset;
}

.checkout {
    padding: 5px 49px;
    margin-top: 155px;
}

footer {
    background-color: rgba(46, 40, 40, 0.2);
    padding: 50px;
    margin: 50px 0 0 0;
    height: 100%;
    display: grid;
    flex: 1;
    position: relative;
}

.product_page h1, .about_page h3, .contact_page h3 {
    font-size: 3em;
    color: #fff;
}

/* Home Page */

.hero {
    background-image: url("../images/Header_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position-x: 0%;
    background-position-y: 0%;
    position: relative;
    max-width: 100%;
    margin-bottom: 70px;
}

.hero_content_one,
.hero_content_two,
.hero_content_three,
.hero_content_four  {
    position: absolute;
    left: 770px;
}

.hero h1, h2 {
    font-size: 72px;
} 

.hero_content_one, h1 {
    color: #EF5754;
    top: 60px;
} 

.hero_content_two {
    top: 130px;
}

.hero_content_three {
    top: 260px;
    font-style: italic;
}

.hero_content_four {
    color: #EF5754;
    left: 920px;
    top: 260px;
} 

.container {
    max-width: 1000px;
    margin: auto;
}

.container h1 {
    color: #FEC818;
    font-size: 2em;
    margin-bottom: 0;
}


.featured {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    max-width: 1000px;
    margin: 14px auto 62px auto;
}

.card {
    background-color:rgba(46, 40, 40, 0.2);
    width: 239px;
    display: grid;
    grid-template-columns: auto;
    height: 450px;
}

.card img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}


/* games page */

.games-page {
    margin: 50px 0px;
}

/*product page*/

.product_name {
    color: #FBB125;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 0;
    margin-left: 8px;
}

.product_console {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    margin-left: 8px;
}

.product_price {
    font-size: 1em;
    margin-top: 0;
    margin-left: 8px;
}

.product_link {
    margin-top: -36px;
    margin-right: -2px;
    margin-bottom: -13px;
    margin-left: 137px;
    text-decoration: underline;
}

.cta {
    margin-left: 10px;
    margin-top: 13px;
}

/* Space War */

.product-info {
    margin-top: -50px;
    margin-left: 25px;
    margin-bottom: auto;
    max-width: 42%;
}

.product_page {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.product_price_big {
    font-size: 3em;
    color: #FEC818;
    font-weight: 700;
    margin-top: -53px;
    margin-left: 0px;
    margin-bottom: -43px;
    margin-right: 200px;
}

.product_condition {
    margin-left: 100px;
    font-size: 0.7em;
}

.product-info h3 {
    margin-bottom: -12px;
    margin-top: 57px;
}

.product_description {
    font-size: 0.8em;
    flex-wrap: wrap;
}

.detail {
    font-size: 0.6em;
    opacity: 71%;
}

/* About Us */

.product-info {
    margin-top: -50px;
    margin-left: 25px;
    margin-bottom: auto;
    max-width: 42%;
}

.about_page {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.about_img img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about_description {
    width: 498px;
    margin-right: 73px;
}

/* contact page */

h5 {
    font-size: 1.5em;
    margin-bottom: 0px;
}

.contact_page {
    max-width: 1000px;
    margin: 50px auto;
}

.contact_page h3 {
    margin-bottom: 0px;
}

.contact_page_info {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.contact_page_detail {
    margin-top: 30px;
    margin-right: 150px;
    margin-bottom: 50px;
}

/* cart page */

.cart {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.cart_page img {
    width: 180px;
  }

.cart_page h1,
.checkout_one h1 {
    color: #FEC818;
    font-size: 2em;
}

.cart_page {
    display: flex;
    flex: 1;
    max-width: 1000px;
    margin-right: 70px;
    align-items: flex-end;
}


.cart_product {
    margin-left: 20px;
}

.cart_info {
    margin-top: 22px;
    margin-bottom: 113px;
}

.cart_info_2 {
    margin: 100px 0 -100px 0px;
}

.icon {
    padding: 20px;
}

.prog-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* checkout delivery */

.checkout_one {
    max-width: 1000px;
    margin: auto;
    margin-top: 68px;
}

input {
    border: 0px;
    border-radius: 2px;
    margin: 10px 10px 10px 0px;
    padding: 5px;
}

.form-wrapper {
    display: flex;
 }

 .form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
 }

 .form-wrapper img {
    width: 180px;
 }

 .overview_text p {
   font-size: 0.8em;
   margin: 0px;
 }

 .overview_text {
    flex: 3;
 }

 .place_order {
    margin-right: 442px;
 }

 .success {
    text-align: center;
 }