@import "imports/variables.css";

/* Global styles */
body {
    background: linear-gradient(180deg, #232027, #306495, #88168C);
    color: #fff;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header a {
    padding: 20 0 0 0;
}

a:hover {
    text-decoration: underline;
}

.header-navigation {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.logo {
    width: 180px;
    margin-top: 10px;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    list-style: none;
    padding: 0px 90px 0 0;
}

nav ul {
    margin-top: 0px;
}

#hamburger-menu {
    display: none;
}

label {
    display: none;
}

.form-wrapper label {
    display: block;
}

.fa-solid {
    margin-top: -200px;
}

a,
i {
    color: #fff;
}

h1,
h2,
h5,
label,
li,
button {
    font-family: var(--text-heading);
    color: #fff;
    text-transform: uppercase;
}

h3 {
    font-family: var(--text-hero);
    font-size: 3em;
    color: #fff;
    border: 0px;
    text-transform: uppercase;
    margin: 0px;
}

h4, 
p {
    font-family: var(--text-other);
}

/* links */

a {
    text-decoration: 0px;
    display: block;
    padding: auto;
}

.active {
    text-decoration: underline;
}

.fa,
.fa-solid {
    color: white;
    padding: 10px;
}

button {
    background-color: var(--cta-primary);
    font-size: 1.6em;
    text-transform: uppercase;
    color: #fff;
    width: 95%;
    height: 41px;
    top: 50%;
    left: 50%;
    border: none;   
}

button:hover,
.cta_checkout:hover,
.cta:hover,
.cta_large:hover,
.secondary_cta_large:hover {
    background-color: var(--cta-hover);
}

.cta_large {
    width: 285px;
    margin-top: -8px;
    margin-bottom: 11px;
}

.cta_checkout {
    font-size: 1.6em;
    background-color: var(--cta-primary);
    color: #fff;
    font-family: var(--text-heading);
    padding: 5px 99px;
    margin-top: 8px;
    display: unset;
}

.secondary_cta_large {
    font-size: 1.6em;
    background-color: #F68B39;
    color: #fff;
    font-family: var(--text-heading);
    padding: 5px 99px;
    margin-top: 8px;
    display: unset;
    width: max-content
}

.checkout {
    padding: 5px 49px;
    margin-top: 155px;
}

footer a {
    font-family: var(--text-heading);
    font-size: 1.2em;
    padding-left: 5px;
}

footer {
    background-color: rgba(46, 40, 40, 0.2);
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: auto;
}

.product_page h1, .about_page h3, .contact_page h3 {
    font-size: 3em;
    color: #fff;
}

.about_page h1 {
    padding: 20px;
}

/* Home Page */

.hero {
    background: url("../images/Header_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    color: #fff;
    position: relative;
}

.hero_content {
    position: absolute;
    background: rgb(0, 0, 0, 0.8);
    right: 100px;
    top: 70px;
    padding: 10px
}


.hero_content p {
    font-size: 0.8em;
}

.hero_content_heading {
    color: #EF5754;
    font-size: 2.5em;
    margin: auto;
}

.hero_content_date {
    color: #EF5754;
}


.container {
    max-width: 1000px;
    margin: auto;
}

.container h1 {
    color: #FEC818;
    font-size: 2em;
    margin-bottom: 0;
}


.featured {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    max-width: 1000px;
    margin: 14px auto 62px auto;
}

.card {
    background-color:rgba(46, 40, 40, 0.2);
    width: 239px;
    display: grid;
    grid-template-columns: auto;
    height: 450px;
}

.card img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}


/* games page */

.games-page {
    margin: 50px 0px;
}

/*product page*/

.product_name {
    color: #FBB125;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 0;
    margin-left: 8px;
}

.product_console {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    margin-left: 8px;
}

.product_price {
    font-size: 1em;
    margin-top: 0;
    margin-left: 8px;
}

.product_link {
    margin-top: -36px;
    margin-right: -2px;
    margin-bottom: -13px;
    margin-left: 137px;
    text-decoration: underline;
}

.cta {
    margin-left: 10px;
    margin-top: 13px;
}

/* Space War */

.product-info {
    margin-bottom: auto;
    max-width: 100%;
}

.product_page {
    max-width: 1000px;
    margin: 90px auto;
    display: flex;
}

.product_price_big {
    font-size: 3em;
    color: #FEC818;
    font-weight: 700;
    margin-top: -42px;
    margin-bottom: -7px;
}

.product_condition {
    font-size: 0.7em;
}

.product-info h3 {
    margin-bottom: -12px;
    margin-top: 57px;
}

.product_description {
    font-size: 0.8em;
    flex-wrap: wrap;
}

.detail {
    font-size: 0.6em;
    opacity: 71%;
}

/* About Us */


.about_page {
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.about_img img {
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
}

.about_description {
    width: auto;
    padding: 20px;
}

/* contact page */

h5 {
    font-size: 1.5em;
    margin-bottom: 0px;
}

.contact_page {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.contact_page h3 {
    margin-bottom: 0px;
}

.contact_page_info {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.contact_page_detail {
    margin-top: 30px;
    margin-right: 150px;
    margin-bottom: 50px;
}

/* cart page */

.cart {
    display: flex;
    max-width: 1000px;
    margin: 80px auto;
}

.cart_page img {
    width: 180px;
  }

.cart_page h1,
.checkout_one h1,
.about_page h1,
.contact_page h1 {
    color: #FEC818;
    font-size: 2em;
}

.cart_page {
    display: flex;
    flex: 1;
    max-width: 1000px;
    margin-right: 70px;
    align-items: flex-end;
}


.cart_product {
    margin-left: 20px;
}

.cart_info {
    margin-top: 22px;
    margin-bottom: 113px;
}

.cart_info_2 {
    margin: 100px 0 -100px 0px;
}

.icon {
    padding: 1px;
}

.prog-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* checkout delivery */

.checkout_one {
    max-width: 1000px;
    margin: 90px auto;
}

input {
    border: 0px;
    border-radius: 2px;
    margin: 10px 10px 10px 0px;
    padding: 5px;
}

.form-wrapper {
    display: flex;
 }

 .form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
 }

 .form-wrapper img {
    width: 180px;
    margin-right: 17px;
 }

 .overview_text p {
   font-size: 0.8em;
   margin: 0px;
 }

 .overview_text {
    flex: 3;
 }

 .overview_content {
    display: flex;
 }

 .place_order {
    margin-right: 442px;
 }

 .success {
    text-align: center;
 }

 .place_order {
    padding: 5px 75px;
    margin-top: 20px;
}

.prog-bar-3 {
    width: 26%;
}